/* purgecss start ignore */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.board {
    border: 2px solid black;
    margin: auto;
    min-width: 300px;
    min-height: 300px;
    width: 30vh;
    height: 30vh;
}

.board td {
    padding: 0;
    border: 0;
    width: 7.6%;
}

.board td.V {
    background-color: #FFB300;
    border: solid black;
    border-width: 1px 1px 0 1px;
}

.board td.V_2 {
    background-color: #FFB300;
    border: solid black;
    border-width: 0 1px 1px 1px;
}

.board td.H {
    background-color: #4FC3F7;
    border: solid black;
    border-width: 1px 0 1px 1px;
}

.board td.H_2 {
    background-color: #4FC3F7;
    border: solid black;
    border-width: 1px 1px 1px 0;
}
/* purgecss end ignore */
