{% set metaTitle %}
    {% if not title %}{{ site.title | safe }}
    {% else %}{{ title | capitalize | safe }} - {{ site.title | safe }}
    {% endif %}
{% endset %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="{{ site.description | safe }}" name="description">
    <meta content="{{ site.author | safe }}" name="author">
    <meta content="index, follow" name="robots">

    <meta property="og:title" content="{{ metaTitle | trim }}">
    <meta property="og:description" content="{{ site.description | safe }}">
    <meta property="og:image" content="{{ process.url }}{{ site.thumb | safe }}">

    {% include "partials/head.njk" %}

    <title>{{ metaTitle | trim }}</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light white">

    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="{{ site.thumb | safe }}" height="30" alt="PGdP.de">
            Domineering
        </a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/leaderboard/">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/groups/">Groups</a>
                </li>
            </ul>

            <ul class="navbar-nav mr-auto">
                <li id="account" class="nav-item"></li>
            </ul>

        </div>

    </div>

</nav>

<div class="text-center mt-3 mx-5">

    {{ content | safe }}

</div>

{% include "partials/body.njk" %}

</body>
</html>
