---
layout: frame
---
{% set metaTitle %}
    {% if not title %}{{ site.title | safe }}
    {% else %}{{ title | capitalize | safe }} - {{ site.title | safe }}
    {% endif %}
{% endset %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light white">

    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="{{ site.thumb | safe }}" height="30" alt="PGdP.de">
            Domineering
        </a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/">Leaderboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/games/">Eigene Spiele</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a id="accountDropdown" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                        Not logged in
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                        <li>
                            <a id="accountName" class="dropdown-item"></a>
                        </li>

                        <li>
                            <a id="accountGroup" class="dropdown-item"></a>
                        </li>

                        <li>
                            <a id="accountScore" class="dropdown-item"></a>
                        </li>

                        <li>
                            <hr class="dropdown-divider"/>
                        </li>

                        <li>
                            <a id="accountLogout" class="dropdown-item" href="/login/">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>

</nav>

<div class="text-center mt-5 mx-5">

    {{ content | safe }}

</div>

{% include "partials/body.njk" %}
