---
layout: default
title: Userspezifische Spiele
---
<h1>Spiele gegen <span id="enemy"></span></h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Gewinner</th>
        <th scope="col">Spieler H</th>
        <th scope="col">Spieler V</th>
        <th scope="col">Board</th>
    </tr>
    </thead>
    <tbody id="gameList">

    </tbody>
</table>

<script src="/assets/js/gamelist.min.js"></script>
<script src="/assets/js/user.min.js"></script>
