<!-- Auth -->
<script src="/assets/js/auth-handler.min.js"></script>

<!-- jQuery -->
<script src="/assets/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- MDB -->
<script src="/assets/js/mdb.min.js"></script>

<!-- Main -->
<script src="/assets/js/main.min.js"></script>
