<!-- jQuery -->
<script src="/assets/js/jquery.min.js"></script>

<!-- Requests -->
<script src="/assets/js/requests.min.js"></script>
<!-- Auth -->
<script src="/assets/js/auth-handler.min.js"></script>

<!-- Bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Main -->
<script src="/assets/js/main.min.js"></script>
