<!-- Normalize -->
<link href="/assets/css/normalize.min.css" rel="stylesheet">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
<!-- Bootstrap -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<!-- MDB -->
<link href="/assets/css/mdb.min.css" rel="stylesheet">

<!-- Main -->
<link href="/assets/css/main.min.css" rel="stylesheet">
